@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    margin-top: 25px;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    background-color: #F5F6FA;
}

.row {
    padding: 10px;
    display: flex;
    align-items: center;
    width: 50%;
    background-color: #FFFFFF;
    border-top: solid 1px #DADADA;
    border-left: solid 1px #DADADA;
    border-right: solid 1px #DADADA;
}

.trash {
    width: 15px;
    padding: 10px;
    margin-right: 8px;
}

.avatar {
    width: 60px;
    border-radius: 50%;
    margin-left: 10px;
    margin-right: 15px;
}
h6 {
    font-size: 14px;
    margin-top: 8px;
    margin-bottom: 0;
}
p {
    margin-top: 5px;;
}